openapi: 3.1.0
info:
  title: Google Blogger Blogs Users API
  description: The Blogger API v3 allows you to create, read, update, and delete Blogger resources including blogs, posts, pages, comments, and users. You can integrate Blogger content into your application using RESTful operations.
  version: v3
  contact:
    name: Google
    url: https://developers.google.com/blogger
servers:
- url: https://www.googleapis.com/blogger/v3
security:
- oauth2: []
- apiKey: []
tags:
- name: Users
paths:
  /users/{userId}/blogs:
    get:
      operationId: listBlogsByUser
      summary: List blogs by user
      description: Lists blogs by user.
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogListResponse'
      tags:
      - Users
  /users/{userId}:
    get:
      operationId: getUser
      summary: Get a user
      description: Gets a user by user ID.
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      tags:
      - Users
components:
  schemas:
    Blog:
      type: object
      properties:
        kind:
          type: string
          const: blogger#blog
        id:
          type: string
        name:
          type: string
        description:
          type: string
        published:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
        url:
          type: string
          format: uri
        selfLink:
          type: string
          format: uri
        posts:
          type: object
          properties:
            totalItems:
              type: integer
            selfLink:
              type: string
              format: uri
        pages:
          type: object
          properties:
            totalItems:
              type: integer
            selfLink:
              type: string
              format: uri
        locale:
          type: object
          properties:
            language:
              type: string
            country:
              type: string
    BlogListResponse:
      type: object
      properties:
        kind:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/Blog'
    User:
      type: object
      properties:
        kind:
          type: string
          const: blogger#user
        id:
          type: string
        selfLink:
          type: string
          format: uri
        displayName:
          type: string
        url:
          type: string
          format: uri
        about:
          type: string
        blogs:
          type: object
          properties:
            selfLink:
              type: string
              format: uri
        locale:
          type: object
          properties:
            language:
              type: string
            country:
              type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/blogger: Manage your Blogger account
            https://www.googleapis.com/auth/blogger.readonly: View your Blogger account
    apiKey:
      type: apiKey
      in: query
      name: key
